CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y

CT_PREFIX_DIR="${CT_TOP_DIR}/arm-uk-linux-musleabi-gcc12.3-nohard"
CT_STRIP_HOST_TOOLCHAIN_EXECUTABLES=y
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y

CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a9"
# CT_ARCH_FLOAT_AUTO is not set
CT_ARCH_FLOAT_SW=y
CT_ARCH_FLOAT="soft"

CT_KERNEL_LINUX=y
CT_LINUX_SRC_CUSTOM=y
CT_LINUX_CUSTOM_LOCATION="${CT_TOP_DIR}/linux-kernel"
# CT_KERNEL_LINUX_INSTALL_CHECK is not set

CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_BINUTILS_FOR_TARGET=y

CT_LIBC_MUSL=y

CT_GCC_V_12=y
CT_CC_GCC_USE_LTO=y
CT_CC_GCC_LIBSSP=y
CT_CC_LANG_CXX=y
